<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
</head>
<body>
    <div class="" id="app">
        <h1>{{title}}</h1>

        <input type="text" v-model="newKid" @keyup.enter='addKid'>
        <button @click="addKid">add</button>
        <ul>

            <li v-for="kid of kids">
                <input type="number" v-model.number="kid.age"> 
                year old {{ kid.name }}
                <span v-if="kid.age < 18">- is a minor</span>
                <span v-else=>- is older</span>
                <button @click="kid.age++">+</button>
                <button @click="kid.age--">-</button>
            </li>
            <h4>Total : {{ addKids }}</h4>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./01.js"></script>
</body>
</html>