/* -----------------PERSPECTIVA----------------- */

/* La perspectiva define cómo se renderiza la profundidad de la escena 3D. Piense en la perspectiva como una distancia entre el espectador y el objeto. Cuanto mayor sea el valor, mayor será la distancia, por lo que menos intento será el efecto visual. */

.padre{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    perspective: 100px;


}

.perspectiva{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    background-color: firebrick;
    padding: 10px;
    transform: rotateX(45deg);

}